<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'index' %}">Home</a>
    {% comment %} <form action="{% url 'key' %}" type="post"> {% endcomment %}
    {% comment %} <form action="{% url 'key' %}" type="post">
    {% csrf_token %}
    <input type="text" name="keyget">
    <input type="submit" value="tìm kiếm">
    </form> {% endcomment %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>